* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: Consolas;
  font-weight: 400;
}

.accordion {
  max-width: 900px;
  width: 100%;
  margin: 0 auto;
  margin-top: 50px;
  &__block {
    &:not(:last-child) {
      margin-bottom: 10px;
    }
  }
  &__title {
    background: transparent;
    border: none;
    display: flex;
    align-items: center;
    justify-content: space-between;
    outline: none;
    width: 100%;
    padding: 10px 15px;
    cursor: pointer;
    background-color: #fdcb6e;
    border-radius: 5px;
    transition: all 0.3s linear;
    span {
      font-size: 20px;
      color: #2d3436;
    }
    i {
      font-size: 30px;
      color: #fff;
    }
    &.active {
      border-bottom-left-radius: 0;
      border-bottom-right-radius: 0;
      i {
        transition: transform 0.3s linear;
        transform: rotate(-180deg);
      }
    }
  }
  &__panel {
    background-color: #ffeaa7;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.3s linear;
    p {
      font-size: 18px;
      padding: 10px 15px;
    }
    &.active {
      opacity: 0;
    }
  }
}
